// Place all the styles related to the Admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


.btn ,.btn-outline-secondary, .btn-block {
  width: 100px;
  height: 100px;
  background: #ffa500;
  border-radius: 50%;
}

.item_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .col-md-8 {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .btn , .btn-default {
//     color: #fff;
//     background-color: #6c757d;
//     border-color: #6c757d;
// }